@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

/* Font Sarina */
@font-face {
  font-family: "Sarina";
  src: url(https://fonts.googleapis.com/css2?family=Sarina&display=swap);
}

/* Font Monoton */
@font-face {
  font-family: "Monoton";
  src: url(https://fonts.googleapis.com/css2?family=Sarina&display=swap);
}

/* =============== Global CSS =================== */
* {
  margin: 0
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 -10px -50px 0;
  overflow-x: hidden;
}

html {
  margin: -10px -10px 0 -10px;
  height: 100vh;
  width: 100vw
}

a {
  text-decoration: none;
  color: rgb(228,212,188);
  font-family: 'Monoton', cursive;
}

a:hover {
  color: #E9C1A3;
}

ul {
  list-style: none;
}

li {
  font-family: 'Monoton', cursive;
}

button, .my-button, .button__text--hire, .button__text--cv {
  outline: none;
  border-radius: 3px;
  padding: 10px 19px;
  border: 1px solid #E9C1A3;
  background: #E9C1A3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

button:hover, .my-button:hover, .button__text--hire:hover, .button__text--cv:hover {
  border: 1px solid #E9C1A3;
  background: transparent;
  color: #E9C1A3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Monoton', cursive;
}

p {
  font-size: 15px;
  color: grey;
  font-family: 'Monoton', cursive;
}

.fab, .far {
    font-weight: 400;
    text-shadow: 1px 1px 5px grey;
}

.about__title--first, .about__title--third, .skills__title--first, .skills__title--fourth,
.tools__title--first, .portfolio__title--first, .blog__title--first,
.blog__title--third, .blog__title--seventh, .footer__title--first {
  font-size: 1.5em;
  color: grey;
}

.about__title--second, .skills__title--second, .skills__title--third,
.tools__title--second, .portfolio__title--second, .blog__title--second, .blog__title--fourth,
.blog__title--eighth {
  font-size: 1.5em;
  color: #E9C1A3;
}

/* ========= Others CSS Class ========= */
.header__wrapper--main, .about__container, .skills__container,
.tools__container, .portfolio__container, .blog__container, .footer__container {
  margin: auto;
}

.header__container--first, .about__wrapper--secondary, .skills__wrapper--secondary,
.portfolio__wrapper--first, .portfolio__wrapper--fifth, .blog__wrapper--third, .blog__wrapper--tenth,
.footer__wrapper--third, .footer__wrapper--tenth, .footer__wrapper--twelefth {
  display: flex;
  flex-wrap: wrap;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin: .5rem .5rem 0 .5rem;
}

.header__container--first, .about__wrapper--secondary, .skills__wrapper--secondary,
.portfolio__wrapper--first, .portfolio__wrapper--fifth, .blog__wrapper--third, .blog__wrapper--fifth,
.blog__wrapper--tenth, .footer__wrapper--third, .footer__wrapper--tenth,
.footer__wrapper--twelefth>* {
  flex-shrink: 0;
  max-width: 100%;
  padding: .5rem .5rem 0 .5rem;
}

.about__wrapper--fifth, .about__wrapper--sixth, .skills__wrapper--fourth,
.tools__wrapper--first, .footer__wrapper--eighth, .footer__wrapper--twelefth {
  display: flex;
}

.tools__wrapper--first {
  flex-wrap: wrap;
}

.footer__wrapper--eighth, .footer__wrapper--twelefth {
  justify-content: center;
}

.about__wrapper--fifth, .about__wrapper--sixth, .skills__wrapper--fourth {
  justify-content: flex-end;
}

.header__container--first, .about__wrapper--fifth, .skills__wrapper--fourth,
.footer__wrapper--first, .footer__wrapper--twelefth {
  align-items: center;
}

.footer__wrapper--eighth {
  align-items: flex-end;
}

.about__wrapper--fifth, .skills__wrapper--fourth {
  margin-left: auto;
}

.about__wrapper--main, .tools__wrapper--main, .portfolio__wrapper--main,
.blog__wrapper--main, .footer__wrapper--main {
  padding: 3rem 0 3rem 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

section {
  display: block;
}

.about__title--third, .about__title--fourth {
  text-align: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem 0;
}

.button__text--hire {
  margin-right: 1rem;
}

.button__text--hire {
  display: inline-block;
}

.btn, .button__text--cv, .button__text--hire {
  line-height: 1.5;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

ul {
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 2rem;
}

.proggress__wrapper--first, .progress__wrapper--second, .progress__wrapper--third,
.progress__wrapper--fourth, .progress__wrapper--fifth, .progress__wrapper--sixth {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.progress__bar--first, .progress__bar--second, .progress__bar--third,
.progress__bar--fourth, .progress__bar--fifth, .progress__bar--sixth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width .6s ease;
}

.portfolio__wrapper--sixth, .portfolio__wrapper--eighth, .portfolio__wrapper--tenth,
.portfolio__wrapper--twelefth, .portfolio__wrapper--fourteenth, .portfolio__wrapper--sixteenth,
.footer__wrapper--second, .footer__wrapper--nineth {
  padding: 1rem;
}

.portfolio__wrapper--seventh {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.portfolio__wrapper--ninenth {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.portfolio__wrapper--eleventh {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.portfolio__wrapper--thirteenth {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.portfolio__wrapper--fifteenth {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.portfolio__wrapper--seventeenth {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
}

.tools__wrapper--main, .portfolio__wrapper--main, .blog__wrapper--main,
.footer__wrapper--main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.skills__text--first, .blog__wrapper--second, .footer__text--first {
  margin-bottom: 1.5rem;
}

.blog__wrapper--eighth, .blog__text--second {
  margin-bottom: 0;
}

.blog__title--sixth {
  text-align: center;
}

.blog__title--sixth {
  display: block;
}

.footer__wrapper--fifth, .footer__wrapper--sixth, .footer__wrapper--seventh {
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
}

textarea.form-control {
  min-height: 2.25em;
}

.footer__wrapper--thirteenth {
  flex: 0 0 auto;
  width: 25%;
}

.footer__wrapper--fourteenth {
  flex: 0 0 auto;
  width: 75%;
}

/* ============x=== Global CSS ===x============== */
/* ================ Header ================== */
header nav.navbar {
  padding: 1rem 0;
}

header .header__container--first {
  justify-content: space-between;
}

header .header__title {
  max-width: 200px;
  width: 100%;
}

header .header__counter {
  max-width: 780px;
  width: 100%;
}

header .menu-hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

header .menu-hamburger i.fas.fa-bars {
  font-size: 2rem;
}

header {
  background: #BEB8A8;
}

header .header__title h2 {
  font-family: 'Sarina', cursive;
  color: grey;
  font-size: 80px;
}

header .header__counter {
  background: #E9C1A3;
  padding: 15px 35px 15px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(10 10 10);
}

header .header__counter ul {
  display: flex;
  margin-bottom: 0;
}

header .header__counter ul li a {
  font-size: 22px;
  color: #FFFFFF;
  padding: 15px 12px;
}

/* ============x=== Header ===x============== */
/* ================ about-me ================== */
.about__wrapper--main .right {
  position: relative;
}

.about__wrapper--main .right::after {
  content: '';
  position: absolute;
  bottom: -15%;
  right: -30%;
  width: 400px;
  height: 400px;
  background: url(../img/koła_02.png);
  background-size: 350px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about__wrapper--main .left {
  position: relative;
}

.about__wrapper--main .left::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -35%;
  right: -10%;
  width: 350px;
  height: 350px;
  background: url(../img/koła_01.png);
  background-size: 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about__wrapper--main .about__box {
  box-shadow: 2px 5px #888888;
  position: relative;
  border-radius: 5px;
  opacity: 0.6;
  z-index: 2;
  padding: .5rem;
  margin: 2rem 0;
  background: #ffffff;
  min-width: 100%;
  margin-left: -110px;
}

.about__wrapper--main .about__box .about__title--first {
  color: #000000;
  font-weight: 600;
  font-size: 30px;
}

.about__wrapper--main .about__box ul {
  padding: 0;
  margin: 0;
}

.about__wrapper--main .about__box li img {
  max-width: 50px;
}

/* ============x=== about-me ===x============== */
/* ================ Section 01 ================== */
.skills__wrapper--main {}

.skills__wrapper--main .skills__wrapper--third .skills__box ul li img {
  max-width: 150px;
}

.skills__wrapper--main .skills__wrapper--third .skills__box ul li {
  font-weight: bold;
}

.skills__wrapper--main .skills__wrapper--fifth .progress__wrapper--first, .progress__wrapper--second, .progress__wrapper--third,
.progress__wrapper--fourth, .progress__wrapper--fifth, .progress__wrapper--sixth {
  height: 50px;
  margin-bottom: .7rem;
}

.skills__wrapper--main .skills__wrapper--fifth .progress__bar--first, .progress__bar--second, .progress__bar--third,
.progress__bar--fourth, .progress__bar--fifth, .progress__bar--sixth {
  background: #E9C1A3;
}

.skills__wrapper--main .skills__wrapper--fifth .progress__bar--first, .progress__bar--second, .progress__bar--third,
.progress__bar--fourth, .progress__bar--fifth, .progress__bar--sixth h2 {
  text-align: right;
  font-weight: 300;
  font-size: 22px;
  opacity: 0.9;
  padding-right: 1rem;
}

.skills__wrapper--main .skills__wrapper--fifth {
  box-shadow: 5px 5px #888888;
  border-radius: 10px;
  opacity: 0.6;
  position: relative;
}

.skills__wrapper--main .skills__wrapper--fifth::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 350px;
  height: 350px;
  background: url(../img/koła_03.png);
  background-size: 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* ============x=== Section 01 ===x============== */
/* ================ Section 02 ================== */
.tools__wrapper--main {
  background: #F3DECD;
  position: relative;
}

.tools__wrapper--main ul li {
  margin: .5rem;
}

.tools__wrapper--main ul li img {
  max-width: 100px;
}

.tools__wrapper--main::after {
  content: '';
  position: absolute;
  bottom: -50%;
  right: 4.5%;
  width: 350px;
  height: 350px;
  background: url(../img/koła_01.png);
  background-size: 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* ============x=== Section 02 ===x============== */
/* ================ Section 03 ================== */


.portfolio__wrapper--main {
  position: relative;
}

.portfolio__wrapper--main::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  right: 0;
  width: 350px;
  height: 350px;
  background: url(../img/koła_01.png);
  background-size: 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.portfolio__wrapper--seventh {
  position: relative;
}

.portfolio__wrapper--ninenth {
  position: relative;
}

.portfolio__wrapper--eleventh {
  position: relative;
}

.portfolio__wrapper--thirteenth {
  position: relative;
}

.portfolio__wrapper--fifteenth {
  position: relative;
}

.portfolio__wrapper--seventeenth {
  position: relative;
}

.portfolio__wrapper--seventh:hover {
  opacity: 0.5;
}

.portfolio__wrapper--ninenth:hover {
  opacity: 0.5;
}

.portfolio__wrapper--eleventh:hover {
  opacity: 0.5;
}

.portfolio__wrapper--thirteenth:hover {
  opacity: 0.5;
}

.portfolio__wrapper--fifteenth:hover {
  opacity: 0.5;
}

.portfolio__wrapper--seventeenth:hover {
  opacity: 0.5;
}

.portfolio__wrapper--main .portfolio__wrapper--fourth .portfolio__wrapper--seventh p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--ninenth p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--eleventh p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--thirteenth p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--fifteenth p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--seventeenth p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: #ffffffb8;
  padding: .5rem;
  border-radius: .5rem;
}

.portfolio__wrapper--main .portfolio__wrapper--fourth .portfolio__wrapper--seventh:hover p {
  opacity: 1;
}

.portfolio__wrapper--ninenth:hover p {
  opacity: 1;
}

.portfolio__wrapper--eleventh:hover p {
  opacity: 1;
}

.portfolio__wrapper--thirteenth:hover p {
  opacity: 1;
}

.portfolio__wrapper--fifteenth:hover p {
  opacity: 1;
}

.portfolio__wrapper--seventeenth:hover p {
  opacity: 1;
}

p.portfolio__wrapper--eigtheenth  {
  color: white;
  background: #F3DECD;
}

p.portfolio__wrapper--eigtheenth span {
  color: black
}

/* ============x=== Section 03 ===x============== */
/* ================ Section 04 ================== */
.blog__wrapper--main .blog__wrapper--eighth, .blog__wrapper--ninenth span {
  color: #E9C1A3;
}

.blog__wrapper--main {
  position: relative;
}

.blog__wrapper--main::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  width: 350px;
  height: 350px;
  background: url(../img/koła_01.png);
  background-size: 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* ============x=== Section 04 ===x============== */
/* ================ Footer ================== */
footer {
  background: #F3DECD;
  overflow: hidden;
}

footer .copyright {
  padding: .5rem 0;
}

footer .footer__wrapper--twelefth {
  background: #ffffff;
  width: 120%;
  margin-right: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer__wrapper--first {
  position: relative;
  max-height: 10px
}

/* ============x=== Footer ===x============== */
/* ================================================= Responsive CSS ============================================= */
@media (min-width: 576px) {

  .header__wrapper--main, .about__container, .skills__container,
  .tools__container, .portfolio__container, .blog__container, .footer__container {
    max-width: 540px;
  }

  .portfolio__wrapper--sixth, .portfolio__wrapper--eighth, .portfolio__wrapper--tenth,
  .portfolio__wrapper--twelefth, .portfolio__wrapper--fourteenth, .portfolio__wrapper--sixteenth {
    flex: 0 0 auto;
    width: 50%;
  }

  .blog__wrapper--eighth, .blog__wrapper--fourteenth {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  footer {
    background: #F3DECD;
    height: 520px;
  }
}

@media (min-width: 768px) {

  .header__wrapper--main, .about__container, .skills__container,
  .tools__container, .portfolio__container, .blog__container, .footer__container {
    max-width: 720px;
  }

  .about__wrapper--third, .about__wrapper--fourth,
  .skills__wrapper--third, .skills__wrapper--fifth, .portfolio__wrapper--second,
  .portfolio__wrapper--third, .footer__wrapper--second, .footer__wrapper--nineth,
  .footer__wrapper--eleventh, .footer__wrapper--fifteenth {
    flex: 0 0 auto;
    width: 50%;
  }

  .portfolio__wrapper--sixth, .portfolio__wrapper--eighth, .portfolio__wrapper--tenth,
  .portfolio__wrapper--twelefth, .portfolio__wrapper--fourteenth, .portfolio__wrapper--sixteenth,
  .blog__wrapper--eleventh {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .blog__wrapper--fourth {
    flex: 0 0 auto;
    width: 32.33333333%;
  }

  .blog__wrapper--fifth,
  .blog__wrapper--twelefth {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .footer__wrapper--fourth {
    flex: 0 0 auto;
    width: 75%;
  }

  .footer__wrapper--eighth {
    flex: 0 0 auto;
    width: 25%;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 50%;
    margin: 20px 0 0 600px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (min-width: 992px) {

  .container, .header__wrapper--main, .about__container, .skills__container,
  .tools__container, .portfolio__container, .blog__container, .footer__container {
    max-width: 960px;
  }

  header .menu-hamburger {
    display: none;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 50%;
    margin: -20px 0 0 400px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (min-width: 1200px) {

  .header__wrapper--main, .about__container, .skills__container,
  .tools__container, .portfolio__container, .blog__container, .footer__container {
    max-width: 1140px;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 50%;
    margin: -20px 0 0 600px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (max-width: 1200px) {
  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 50%;
    margin: -20px 0 0 500px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media only screen and (max-width:991px) {
  .header__counter ul {
    display: block;
  }

  .header__counter ul li {
    display: block;
    width: 100%;
    margin: .5rem 0;
  }

  .header__counter {
    position: absolute;
    top: -999px;
    transition: all 0.4s ease;
    z-index: 9;
  }

  .header__counter.active {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
  }

  header .header__icon {
    display: auto;
  }

  .about__wrapper--main .about__box {
    max-width: 100%;
    margin-left: 0;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 50%;
    margin: -20px 0 0 400px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  div.footer__wrapper--twelefth {
    width: 100%
  }
}

@media (max-width: 600px) {

  .header__wrapper--main, .about__container, .skills__container,
  .tools__container, .portfolio__container, .blog__container, .footer__container {
    max-width: 90%;
  }

  .portfolio__wrapper--sixth, .portfolio__wrapper--eighth, .portfolio__wrapper--tenth,
  .portfolio__wrapper--twelefth, .portfolio__wrapper--fourteenth, .portfolio__wrapper--sixteenth {
    flex: 0 0 auto;
    width: 100%;
  }

  .footer__wrapper--main {
    height: 1100px;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 100%;
    margin: 560px 0 0 -10px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .footer__wrapper--main {
    height: 1200px;
  }

  .footer__wrapper--nineth {
    background: #F3DECD;
    width: 100%;
    margin: 620px 0 0 -10px;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}
